{% extends 'E_Commerce/CustomerPanel.html' %}
{% block title %}Account Details{% endblock %}
{% block currentPage %}Account Details{% endblock %}
{% block panel %}
<div class="m-3 p-5 col-md-8">
  <form>
    <div class="form-row">
      <div class="col">
        <label for="">First Name</label>
        <input type="text" class="form-control" required>
      </div>
      <div class="col">
        <label for="">Last Name</label>
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="form-row">
      <label for="">Display Name</label>
      <input type="text" class="form-control" required>
      <small><em>This will be how your name will be displayed in the account section and in reviews</em></small>
    </div>
    <div class="form-row">
      <label for="">Email</label>
      <input type="text" class="form-control" required>
    </div>
    <br>

    <div class=" container-fluid border" style="padding: 20px;">
      <p><b>Password</b></p>
      <div class="form-row">
        <label for="">Current password (leave blank to leave unchanged)</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-row">
        <label for="">New password (leave blank to leave unchanged)</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-row">
        <label for="">Confirm password</label>
        <input type="text" class="form-control">
      </div>
    </div>



  </form>
</div>
{% endblock %}
