{% extends 'E_Commerce/VendorPanel.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static '/css/sidebar-vendor.css' %}">
<link rel="stylesheet" href="{% static '/css/image-uplaod.css' %}">
{% endblock %}
{% block title %}Products{% endblock %}
{% block currentPage %}Products{% endblock %}
{% block script %}

<script src="{% static '/js/image_upload.js'%}">

</script>

<script>
  function preview_images() {
    var total_file = document.getElementById("images").files.length;
    for (var i = 0; i < total_file; i++) {
      $('#image_preview').append("<div class='col-md-3'><img class='img-responsive img-thumbnail' src='" + URL.createObjectURL(event.target.files[i]) + "'></div>");
    }
  }
</script>
{% endblock %}



{% block panel_vendor %}

<div class="m-3 p-5 col-md-8">
  <h4>Add New Product</h4>
  <div class="text-center border p-2">
    <label><strong>Upload Pictures</strong></label>
    <div class="mx-auto">
      <form method="post" enctype="multipart/form-data" action="create_product">
          <input type="file" class="border form-control-file p-2" id="images" name="images[]" onchange="preview_images();" multiple required />
          <input type="submit" class="btn btn-danger" name='submit_image' value="Upload Multiple Image" />
      </form>
    </div>
    <div class="row pt-2" id="image_preview"></div>
  </div>


  <div class="text-center border p-2">
    <form method="post" enctype="multipart/form-data" action="create_product">
      {% csrf_token %}
      <!-- <div class="form-group">
        <label><strong>Upload Pictures</strong></label>
        <div class="custom-file">
              <input type="file" name="files[]" multiple class="custom-file-input form-control" id="customFile">
                         <label class="custom-file-label" for="customFile">Choose file</label>
          <input type="file" id="myfile" name="myfile" multiple required><br>
        </div>
                   </div>
                            <div class="form-group">
                                <button type="submit" name="upload" value="upload" id="upload" class="btn btn-block btn-dark"><i
                                        class="fa fa-fw fa-upload"></i> Upload
                                </button>
                            </div>
      </div> -->
      <div class="text-left border p-2">

        <div class="form-group">
          <label for="ProductName">Product Name</label>
          <input type="text" class="form-control" id="ProductName" name="ProductName" placeholder="Product Name" required>
        </div>
        <div class="form-row">
          <div class="col-md-4">
            <label for="price">Price</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Rs</div>
              </div>
              <input type="text" class="form-control" id="price" name="price" placeholder="0.00" required>
            </div>
          </div>
          <div class="col-md-4 m-auto">
            <label for="discount">Discounted Price</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Rs</div>
              </div>
              <input type="text" class="form-control" id="discount" name="discount" placeholder="0.00" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="shortDescription">Short Description</label>
          <textarea class="form-control" rows="5" id="shortDescription" name="shortDescription" required></textarea>
        </div>
        <div class="form-group">
          <label for="categories">Categories</label>
          <select class="form-control" name="categories" required>
            {% for cat in categories %}
            <option value="{{ cat }}">{{ cat.name }}</option>
            {% endfor %}

          </select>
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <select class="form-control" id="tags" name="tags" multiple required>
            {% for tag in tags %}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" rows="5" id="description" name="description" placeholder="Full Description of your product" required></textarea>
        </div>

        <div class="form-group">
          <button class="btn btn-secondary btn-lg btn-block" type="submit" name="button">
            Add Product
          </button>
        </div>


      </div>
    </form>
  </div>
</div>
{% endblock %}
