{% extends 'E_Commerce/CustomerPanel.html' %}
{% block title %}Addresses{% endblock %}
{% block currentPage %}Addresses{% endblock %}
{% block panel %}
<div class="m-3 p-5 col-md-8">
  <p>The following addresses will be used on the checkout page by default.</p>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            <h3 class="nav-link">Billing Address</h3>
            <span class=""><a href="#"><i class="fas fa-sign-out-alt  text-success"></i></a></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            <p class="nav-link"><em><small>You have not set up this type of address yet.</small></em></p>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            <h3 class="nav-link">Shipping Address</h3>
            <span class=""><a href="#"><i class="fas fa-sign-out-alt  text-success"></i></a></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            <p class="nav-link"><em><small>You have not set up this type of address yet.</small></em></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
