{% extends 'E_Commerce/HomePage.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static '/css/sidebar.css' %}">
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class=" text-success" href="">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Accounts</li>
    <li class="breadcrumb-item active" aria-current="page">{% block currentPage %}{% endblock %}</li>
  </ol>
</nav>
<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="support-menu">
        <nav class="vertical">
          <ul>
            <li>
              <a href="">Karkhanay.pk</a>
              <div>
                <ul>
                  <li><a href="profile"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                  <li><a href="orders"><i class="fas fa-shopping-basket"></i> Orders</a></li>
                  <li><a href="downloads"><i class="far fa-file-archive"></i> Downloads</a></li>
                  <li><a href="addresses"><i class="fas fa-home"></i> Addresses</a></li>
                  <li><a href="account-details"><i class="far fa-user"></i> Account Details</a></li>
                  <li><a href="rma-requests"><i class="far fa-file-alt"></i> RMA Requests</a></li>
                  <li><a href="vendors_page"><i class="far fa-file-alt"></i>Vendors</a></li>
                  <li><a href="tickets"><i class="far fa-file-alt"></i> Seller Support Tickets</a></li>
                  <li><a href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md">

    </div>
    {% block panel %}
    {% endblock %}



  </div>
</div>
{% endblock %}
