{% extends 'E_Commerce/HomePage.html' %}
{% block content %}
    <h1 style="margin-left: 450px;">Products</h1>
    <div class="row">
    {% for img in images %}
        <div class="col">
        <img src="{{ img.image.url }}" width="100dp" height="100dp" style="margin-left: 20px;">
        <div class="overlay" style="margin-left: 20px;">{{ img.product.name }}</div>
        <button class="btn btn-info" onclick="location.href='/add_to_cart/<img.product.pk>'" style="margin-left: 20px;"> Add to Cart</button>
        </div>

    {% endfor %}

    </div>
{% endblock %}