{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karkhanay Home</title>
    <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
    <h1>HomePage</h1>

   <div class="container-fluid">
	{% block content %}



	{% endblock %}
    </div>
    <hr>
    <h5>Our Footer</h5>
    <script src="{% static '/js/jquery.js'%}"></script>
    <script src="{% static '/js/popper.js'%}"></script>
    <script src="{% static '/js/all.min.js'%}"></script>
    <script src="{% static '/js/bootstrap.js'%}"></script>
</body>
</html>