{% load static %}

<!doctype html>
<html lang="en">
<head>
    <title>Karkhanay | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% block stylesheet %}{% endblock %}
    {% include 'E_Commerce/MainNavigation.html' %}
</head>
<body>
<div class="">
  <br>
    {% block content %}

    {% endblock %}
</div>
<hr>
</body>
<script src="{% static '/js/jquery.js'%}"></script>
<script src="{% static '/js/popper.js'%}"></script>
<script src="{% static '/js/all.min.js'%}"></script>
<script src="{% static '/js/bootstrap.js'%}"></script>
<script src="{% static '/js/form.js'%}"></script>
{% block script %}{% endblock %}
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</html>
