{% extends 'E_Commerce/HomePage.html' %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sign In/Register</li>
        </ol>
    </nav>
    <br /><br />
    <div class="Form">
        <div class="row">
            <div class="col-md-6">
                <h5>Login:</h5>
                <form>
                    <div class="form-group">
                        <label for="u_name">Username/Email</label>
                        <input type="email" class="form-control" name="u_name" id="u_name" aria-describedby="u_name"
                               placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="u_name">Password</label>
                        <input type="email" class="form-control" name="password_login" id="password_login"
                               aria-describedby="u_name" placeholder="Enter Password">
                    </div>

                </form>
                <h1></h1>
                <button type="button" class="btn btn-outline-success">Login</button>
            </div>

            <div class="col-md-6 border-left">
                <h5>Registration</h5>
                <form action="signup" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="email"
                               placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="Password" id="Password"
                               aria-describedby="Password" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" class="form-control" name="Password" id="Password"
                               aria-describedby="Password" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" name="firstname" id="firstname"
                               aria-describedby="firstname" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" name="lastname" id="lastname"
                               aria-describedby="lastname" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label for="contact_number">Phone Number:</label>
                        <input type="text" class="form-control" name="contact_number" id="contact_number"
                               aria-describedby="lastname" placeholder="Enter Phone Number">
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="customer" name="customer_vendor"
                               value="customer">
                        <label class="form-check-label" for="customer">I am a Customer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="vendor" name="customer_vendor" value="vendor">
                        <label class="form-check-label" for="vendor">I am a Vendor</label>
                    </div>
                    <p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            <u>I agree to the <a target="_blank" href="#">Terms & Conditions</a></u>
                        </label>
                    </div>
                    </p>
                    <hr>
                    <button type="submit" class="btn btn-outline-success">Register</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
