{% extends 'E_Commerce/HomePage.html' %}
{%
{% block content %}

<hr>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Accounts</li>
    <li class="breadcrumb-item active" aria-current="page">Lost Password</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
    <div class="col-md-5">
      <form action="login" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="u_name"> Username or Email</label>
          <div class="input-group">
            <input type="text" class="form-control" name="u_name" id="u_name" placeholder="Enter email">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Reset password</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
