{% load static %}

<div class="overlay"></div>


<!-- <div class="utility-nav d-none d-md-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="small"><i class="bx bx-envelope"></i> info@karkhanay.com | <i class="bx bx-phone"></i> +92 992 408 208
        </p>
      </div>

      <div class="col-12 col-md-6 text-right">

          <a class="text-dark" href="https://www.facebook.com/karkhanay" title=""><i class="fab fa-facebook-square"></i></a>
          <a class="text-dark" href="#" title=""><i class="fab fa-twitter-square"></i></a>
          <a class="text-dark" href="https://www.instagram.com/karkhanay/" title=""><i class="fab fa-instagram-square"></i></a>

      </div>
    </div>
  </div>
</div> -->

<!-- <nav class="navbar navbar-expand-md navbar-light bg-light main-menu" style="box-shadow:none">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
      <i class="fas fa-bars"></i>
    </button>

    <a class="navbar-brand" href="">
      <img src="{% static '/images/logo.png' %}" alt="Karkhanay Logo" title="Karkhanay" width="100" />
    </a>


    <div class="collapse navbar-collapse">
      <form class="form-inline my-2 my-lg-0 mx-auto">
        <input style="width: 500px;" class="form-control" type="search" placeholder="Search for products..." aria-label="Search"
        id="search" name="search">
        <button type="button" class="btn btn-success" name="button"><i class="fas fa-search"></i></button>
      </form>

      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout<i class="fas fa-sign-out-alt"></i></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="cart"><i class="fas fa-shopping-cart"></i> <span class="badge badge-success">3</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="customer"><i class="fa fa-user"></i></a>
        </li>
        <li class="nav-item ml-md-3">
          <a class="btn btn-success" href="customer"><i class="bx bxs-user-circle mr-1"></i> Log In / Register</a>
        </li>
      </ul>
    </div>

  </div>

</nav> -->

<!-- <nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mx-auto">
        <div class="search-bar d-block d-md-none" style="margin-top: 5%;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <li class="nav-item">
                <form class="form-inline mb-3 mx-auto">
                  <i class="fas fa-search" aria-hidden="true"></i>
                <form>
                  <input class="nav-link form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
                   </form>
                    <div class="">
                      <br>
                      {% if not user.is_authenticated %}
                      <a style="display: block; align-self: center;" class="btn" href="customer"><i class="fa fa-user"></i></a>
                      {% endif %}
                      {% if user.is_authenticated %}
                      <a class="btn btn-outline-success" href="/logout"> Logout<i class="fas fa-sign-out-alt"></i></a>
                      {% endif %}
                    </div>

                </form></li>
              </div>
            </div>
          </div>
        </div>
        <li><a class="nav-link" href="">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Construction</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Food</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Textile</a></li>
        <li class="nav-item"><a class="nav-link" href="#">One $ Store</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Decor</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Furniture</a></li>
        <li class="nav-item"><a class="nav-link" href="vendor">Vendors</a></li>
      </ul>
    </div>
  </div>

</nav> -->

<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto"><img src="../../../static/images/logo.png" alt="" width="100px" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
           
     <li class="nav-item"> <a class="nav-link" href="#"><input class="form-control mr-sm-2" type="search" placeholder="Search"></a></li> 
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#"><i style="color: white; stroke: black; stroke-width: 30px; font-size: x-large; " class="fa fa-user" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i style="color: white; stroke: black; stroke-width: 30px; font-size: x-large; " class="fa fa-heart" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i style="color: white; stroke: black; stroke-width: 30px; font-size: x-large; " class="fa fa-shopping-basket" aria-hidden="true"></i></a>
            </li>

        </ul>
    </div>
</nav>





<nav class="navbar navbar-expand-sm navbar-light" data-toggle="affix">
    <div class="mx-lg-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-left" id="navbarsExample11">
            <ul class="navbar-nav">
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shoes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
               
               <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Construction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>

         <li class="nav-item">
        <a class="nav-link" href="#">Food</a>
      </li>
               
               <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Textile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
               <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          One $ Store
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>

         <li class="nav-item">
        <a class="nav-link" href="#">Decor</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Furniture</a>
      </li>

               <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>

         <li class="nav-item">
        <a class="nav-link" href="#">Medical Supplies</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Vendors</a>
      </li>
                
            </ul>
        </div>
    </div>
</nav>

<style>
  .dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
    }
.navbar-light .navbar-nav .nav-link:hover {
    color: green;
    }
    

</style>