{% load static %}


<!-- Please add this to a separate file and include that here -->
<nav class="navbar navbar-expand-md fixed-top navbar-light " style = "opacity: 1; z-index : 99; background: white;">
    <a class="navbar-brand" href="#">
        <img src="{% static '/images/logo.png' %}" alt="Karkhanay Logo" title="Karkhanay" width="100"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-right" id="navbarCollapse">

        <ul class="navbar-nav ml-auto ">
            <li class="nav-item"><input class="form-control mr-sm-2 " type="text" placeholder="Search"
                                        aria-label="Search"></li>
            <li><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Construction</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Food</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Textile</a></li>
            <li class="nav-item"><a class="nav-link" href="#">One $ Store</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Decor</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Furniture</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Vendors</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-user"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i>
                <span class="badge badge-secondary" style="background: #8DC53F;">0</span></a></li>
        </ul>
    </div>
</nav>
