{% extends 'E_Commerce/HomePage.html' %}
{% block title %}Login/Registration{% endblock %}

{% block content %}


<style>
    .just-padding {
  padding: 15px;
  
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;

}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
  
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 0;
  text-decoration: none;
  color: black;
  font-size: smaller;
  
  
 
}

.list-group.list-group-root .list-group-item:hover{
    color: rgb(96, 155, 8);
}


.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;

}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 45px;
  line-height: 15px;
 
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
  
}

  /********************* shopping Demo-1 **********************/

        .product-grid {
            font-family: Raleway, sans-serif;
            text-align: center;
            padding: 0 0 72px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        .product-grid .product-image {
            position: relative;
            transition: all 0.3s ease 0s;
        }

        .product-grid .product-image a {
            display: block;
        }

        .product-grid .product-image img {
            width: 100%;
            height: auto;
        }

        .product-grid .pic-1 {
            opacity: 1;
            transition: all 0.3s ease-out 0s;
        }

        .product-grid:hover .pic-1 {
            opacity: 1;
        }

        .product-grid .pic-2 {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s ease-out 0s;
        }

        .product-grid:hover .pic-2 {
            opacity: 1;
        }

        .product-grid .social {
            width: 150px;
            padding: 0;
            margin: 0;
            list-style: none;
            opacity: 0;
            transform: translateY(-50%) translateX(-50%);
            position: absolute;
            top: 60%;
            left: 50%;
            z-index: 1;
            transition: all 0.3s ease 0s;
        }

        .product-grid:hover .social {
            opacity: 1;
            top: 50%;
        }

        .product-grid .social li {
            display: inline-block;
        }

        .product-grid .social li a {
            color: #fff;
            background-color: #333;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            height: 40px;
            width: 40px;
            margin: 0 2px;
            display: block;
            position: relative;
            transition: all 0.3s ease-in-out;
        }

        .product-grid .social li a:hover {
            color: #fff;
            background-color: #ef5777;
        }

        .product-grid .social li a:after,
        .product-grid .social li a:before {
            content: attr(data-tip);
            color: #fff;
            background-color: #000;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;
            padding: 1px 5px;
            white-space: nowrap;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: -30px;
        }

        .product-grid .social li a:after {
            content: "";
            height: 15px;
            width: 15px;
            border-radius: 0;
            transform: translateX(-50%) rotate(45deg);
            top: -20px;
            z-index: -1;
        }

        .product-grid .social li a:hover:after,
        .product-grid .social li a:hover:before {
            opacity: 1;
        }

        .product-grid .product-discount-label,
        .product-grid .product-new-label {
            color: #fff;
            background-color: #ef5777;
            font-size: 12px;
            text-transform: uppercase;
            padding: 2px 7px;
            display: block;
            position: absolute;
            top: 10px;
            left: 0;
        }

        .product-grid .product-discount-label {
            background-color: #333;
            left: auto;
            right: 0;
        }

        .product-grid .rating {
            color: #ffd200;
            font-size: 12px;
            padding: 12px 0 0;
            margin: 0;
            list-style: none;
            position: relative;
            z-index: -1;
        }

        .product-grid .rating li.disable {
            color: rgba(0, 0, 0, 0.2);
        }

        .product-grid .product-content {
            background-color: #fff;
            text-align: center;
            padding: 12px 0;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -27px;
            z-index: 1;
            transition: all 0.3s;
        }

        .product-grid:hover .product-content {
            bottom: 0;
        }

        .product-grid .title {
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            transition: all 0.3s ease 0s;
        }

        .product-grid .title a {
            color: #828282;
        }

        .product-grid .title a:hover,
        .product-grid:hover .title a {
            color: #ef5777;
        }

        .product-grid .price {
            color: #333;
            font-size: 17px;
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            letter-spacing: 0.6px;
            margin-bottom: 8px;
            text-align: center;
            transition: all 0.3s;
        }

        .product-grid .price span {
            color: #999;
            font-size: 13px;
            font-weight: 400;
            text-decoration: line-through;
            margin-left: 3px;
            display: inline-block;
        }

        .product-grid .add-to-cart {
            color: #000;
            font-size: 13px;
            font-weight: 600;
        }

        @media only screen and (max-width: 990px) {
            .product-grid {
                margin-bottom: 30px;
            }
        }

        @media (min-width: 768px) {
            .col-md-2 {
                -ms-flex: 0 0 16.666667%;
                flex: 0 0 21%;
                max-width: 20%;
            }
        }

        .category-grid {
            font-family: Raleway, sans-serif;
            text-align: center;
            padding: 0 -172px;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        .category-grid .category-image {
            position: relative;
            transition: all 0.3s ease 0s;
        }

        .category-grid .category-image a {
            display: block;
        }

        .category-grid .category-image img {
            width: 100%;
            height: auto;
        }

        .categoryimage .pic-1 {
            opacity: 1;
            transition: all 0.3s ease-out 0s;
        }


</style>





<div class="container">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5">


            <div class="just-padding">
<div style="border-bottom: 1px solid grey;"  class="heading">

    <h4 style="font-size: larger;" class="ml-3 mb-2"> <strong> Product Categories </strong> </h4>

</div>


<div class="list-group list-group-root well">
  
  <a href="#" class="list-group-item">{{ cat.name }}</a>
  <div class="list-group">
    {% for s_c in sub_cat %}
    <a href="/product_category/{{ s_c.name }}" class="list-group-item">{{ s_c.name }}</a>
   {% endfor %}
    
  </div>
  <!--
  <a href="#" class="list-group-item">Decor</a>
  
  <a href="#" class="list-group-item">Food and Consumable</a>

  <a href="#" class="list-group-item">Furniture</a>
  
  <a href="#" class="list-group-item">One $ Store</a>

   <div class="list-group">
    
    <a href="#" class="list-group-item">Accessories</a>  
    <a href="#" class="list-group-item">Jewelry</a>
    <a href="#" class="list-group-item">Toys</a>
    <a href="#" class="list-group-item">Utility</a>
    
  </div>

  <a href="#" class="list-group-item">Shoes</a>
<div class="list-group">
    
    <a href="#" class="list-group-item">Comforts</a>  
    <a href="#" class="list-group-item">Orientals</a>
    <a href="#" class="list-group-item">Sandals</a>
    <a href="#" class="list-group-item">Slippers</a>
    <a href="#" class="list-group-item">Sports</a>
    
  </div>
  <a href="#" class="list-group-item">Sports</a>
<div class="list-group">
    
    <a href="#" class="list-group-item">Apparel</a>  
    <a href="#" class="list-group-item">Equipment</a>
    
  </div>

  <a href="#" class="list-group-item">Textile</a>
<div class="list-group">
    
    <a href="#" class="list-group-item">Cotton</a>  
    <a href="#" class="list-group-item">Jeans</a>
    <a href="#" class="list-group-item">Leather</a>
    <a href="#" class="list-group-item">Synthetic</a>
    
  </div>
-->
  
</div>
  
</div>

        </div>

        <div class="col-lg-8 col-md-7 col-sm-5">

            <div style="border-bottom: 1px solid black;" class="heading mb-3 mt-3">
                <h4 style="font-size: larger;">Showing Items</h4>
            </div>

            
            <div class="row">
            {% for p in product %}
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img
                                    class="pic-1"
                                    src="{{ p.featured_image.url }}"
                            />
                        </a>
                        <ul class="social">
                            <li>
                                <a href="/_product/{{ p.pk }}/{{ p.name }}" data-tip="Quick View"
                                ><i class="fa fa-search"></i
                                ></a>
                            </li>
                            <li>
                                <a href="/add_to_wishlist/{{ p.pk }}" data-tip="Add to Wishlist"
                                ><i class="fa fa-heart"></i
                                ></a>
                            </li>
                            <li>
                                <a href="/add_to_cart/{{ p.pk }}" data-tip="Add to Cart"
                                ><i class="fa fa-shopping-cart"></i
                                ></a>
                            </li>
                        </ul>
                        {% if today > p.sale_from and today < p.sale_till %}
                            <span class="product-new-label">Sale</span>
                            <span class="product-discount-label">{{ p.sale_percent }}%</span>
                            {% endif %}
                    </div>
  <!--                  <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
      -->              <div class="product-content">
                        <h3 class="title"><a href="/_product/{{ p.pk }}/{{ p.name }}">{{ p.name }}</a></h3>
                        <div class="price">
                           Rs.{{ p.price }}
                            <span></span>
                        </div>
             <!--           <a class="add-to-cart" href="">+ Add To Cart</a>
                 -->   </div>
                </div>
            </div>
            {% endfor %}
          </div>


        </div>
   
   
   
    </div>
</div>




{% endblock %}