{% extends 'E_Commerce/CustomerPanel.html' %}
{% block title %}Dashboard{% endblock %}
{% block currentPage %}Dashboard{% endblock %}

{% block panel %}
<div class="ml-3 ml-2 mt-4 col-lg-6 col-md-12 col-sm-12">
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
    {% endfor %}
  <p>Hello user (not user? <a class=" text-success" href="/logout">Logout</a> )</p>
  <p>From your account dashboard you can view your <a class=" text-success" href="#">recent orders</a>, manage your <a class=" text-success" href="#">shipping and billing addresses</a> , and <a class=" text-success" href="#">edit your password and
      account details</a> .</p>
<!--   <ul style="list-style: none;">
   <li class="border rounded">
      <h4>Become a Vendor</h4>
      <small>Vendor can sell products and manage a store with a beautiful dashboard</small>
      <div class="text-right">
        <a class=" text-success" href="vendor">Become a vendor</a>
      </div>
    </li>
    <li class="border">
      <h4>Become a Wholesale Customer</h4>
      <small>Wholesale customers can purchase product in wholesale from vendor.</small>
      <div class="text-right">
        <a class=" text-success" href="customer">Become a wholesale customer</a>
      </div>
    </li>
  </ul>
-->
</div>
{% endblock %}
