{% extends 'E_Commerce/HomePage.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Accounts</li>
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <nav class="navbar bg-light">

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Downloads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Addresses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RMA Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vendors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Seller Support Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>

      </nav>
    </div>
    <div class="col-md-6">
      <p>Hello user (not user? <a href="#">Logout</a> )</p>
      <p>From your account dashboard you can view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> , and <a href="#">edit your password and account details</a> .</p>
      <ul>
        <li><h4>Become a Vendor</h4>
        <small>Vendor can sell products and manage a store with a beautiful dashboard</small>
        <div class="text-right">
          <a href="#">Become a vendor</a>
        </div>
      </li>
        <li><h4>Become a Wholesale Customer</h4>
        <small>Wholesale customers can purchase product in wholesale from vendor.</small>
        <div class="text-right">
          <a href="#">Become a wholesale customer</a>
        </div>
      </li>
      </ul>

    </div>


  </div>
</div>



{% endblock %}
