{% extends 'E_Commerce/HomePage.html' %}
{%
{% block content %}

<hr>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Accounts</li>
    <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
  </ol>
</nav>

<div class="container">
  <h3>Reset Password</h3>
  <div class="row">
    <div class="col-md-5">
      <div class="md-form md-outline">
        <input type="password" id="newPass" class="form-control">
        <label data-error="wrong" data-success="right" for="newPass">New password</label>
      </div>

      <div class="md-form md-outline">
        <input type="password" id="newPassConfirm" class="form-control">
        <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password</label>
      </div>

      <button type="submit" class="btn btn-success">Change password</button>

    </div>
  </div>
</div>

{% endblock %}
