{% extends 'E_Commerce/HomePage.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Accounts</li>
            <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
        </ol>
    </nav>
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" onClick="location.href=''" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
    {% endfor %}
    <h3>Reset Password</h3>
    <div class="row">
        <div class="col-md-5">
            <form action="new-password" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label data-error="wrong" data-success="right" for="newPass">New password</label>
                    <div class="input-group">
                        <div class="wrapper">
                            <input type="password" placeholder="Enter Password" required name="newPass" id="newPass"
                                   minlength="8">
                            <span class="btn3"><i class="fas fa-eye"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password</label>
                    <div class="input-group">
                        <div class="wrapper">
                            <input type="password" placeholder="Enter Password" required name="newPassConfirm"
                                   id="newPassConfirm"
                                   minlength="8">
                            <span class="btn4"><i class="fas fa-eye"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" onClick= "onClick=location.href='vendor'" class="btn btn-success">Reset password</button>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}
