{% extends 'E_Commerce/CustomerPanel.html' %}
{% block title %}RMA Request{% endblock %}
{% block currentPage %}RMA Requests{% endblock %}
{% block panel %}
  <div class="col-md-8">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Vendor</th>
          <th scope="col">Type</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock %}
