{% extends 'E_Commerce/CustomerPanel.html' %}
{% block title %}Tickets{% endblock %}
{% block currentPage %}Tickets{% endblock %}
{% block panel %}
<div class="col-md-8">
  <div class="">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0"><a href="#"><small>All Tickets</small></a></li>
        <li class="list-group-item border-0"><a href="#"><small>Open Tickets</small></a></li>
        <li class="list-group-item border-0"><a href="#"><small>Closed Tickets</small></a></li>
      </ul>
  </div>

  <div class="alert alert-danger" role="alert">
    <div class="row">
      <span class="col-9 text-left">No tickets found.</span>
    </div>
  </div>
</div>
{% endblock %}
