{% extends 'E_Commerce/HomePage.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class=" text-success" href="">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Accounts</li>
    <li class="breadcrumb-item active" aria-current="page">Tickets</li>
  </ol>
</nav>

<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center  ">
          <a class="nav-link text-success" href="profile">Dashboard</a>
          <span class="badge"><a href="profile"><i class="fas fa-tachometer-alt  text-success"></i></a></span>
        </li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  ">
          <a class="nav-link  text-success" href="orders">Orders</a>
          <span class="badge"><a href="orders"><i class="fas fa-shopping-basket text-success"></i></a></span>
        </li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  ">
          <a class="nav-link text-success" href="downloads">Downloads</a>
          <span class="badge"><a href="downloads"><i class="far fa-file-archive text-success"></i></a></span>
        </li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  ">
          <a class="nav-link  text-success" href="addresses">Addresses</a>
          <span class="badge"><a href="addresses"><i class="fas fa-home text-success"></i></a></span>
        </li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  ">
          <a class="nav-link  text-success" href="account-details">Account Details</a>
          <span class="badge"><a href="account-details"><i class="far fa-user text-success"></i></a></span>
        </li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  ">
          <a class="nav-link  text-success" href="rma-requests">RMA Requests</a>
          <span class="badge"><a href="rma-requests"><i class="far fa-file-alt text-success"></i></a></span>
        </li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  ">
          <a class="nav-link text-success" href="vendors_page">Vendors</a>
          <span class="badge"><a href="vendors_page"><i class="far fa-file-alt text-success"></i></a></span>
        </li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  ">
          <a class="nav-link text-success" href="tickets">Seller Support Tickets</a>
          <span class="badge"><a href="tickets"><i class="far fa-file-alt text-success"></i></a></span>
        </li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center  ">
          <a class="nav-link  text-success" href="/logout">Logout</a>
          <span class="badge"><a href="/logout"><i class="fas fa-sign-out-alt  text-success"></i></a></span>
        </li>
    </div>

    <div class="col-md-8">
        <small><ul class="list-group list-group-horizontal">
          <li class="list-group-item border-0"><a href="#">All Tickets</a></li>
          <li class="list-group-item border-0"><a href="#">Open Tickets</a></li>
          <li class="list-group-item border-0"><a href="#">Closed Tickets</a></li>
        </ul></small>

      <div class="alert alert-danger" role="alert">
        <div class="row">
          <span class="col-9 text-left">No tickets found.</span>
        </div>
      </div>
    </div>


  </div>
</div>



{% endblock %}
