{% extends 'E_Commerce/HomePage.html' %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">

        <div class="card-header text-center"><img src="/static/images/logo.png" class="text-center" alt="Karkhanay Logo" title="Karkhanay" width="50%"></div>
        <div class="card-header text-center"><strong> Welcome to the Marketplace!</strong></div>
        <div class="card-body">
          <p>Thankyou for choosing The Marketplace to power your online store! This quick step wizard will
            help you configure the basic settings. <strong>It's completeley optional and shouldn't take
              longer than two minutes.</strong></p>
          <br>
          <p>No time right now? If you dont want to go through the wizard you can skip and return to the
            Store!</p>
          <div class="row">
            <div class="col-md-4">
              <button type="submit" class="btn btn-warning btn-lg" onclick="location.href='/storesetup';">
                Let's Go
              </button>
            </div>
            <div class="col-md-8">

              <button type="submit" onClick= "opener.location='ready'" class="btn btn-warning btn-lg">
                Not Right Now
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>


{%endblock%}
