{% extends 'E_Commerce/HomePage.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static '/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static '/css/countrypicker.css' %}">
{% endblock %}
{% block script %}
<script src="{% static '/js/countrypicker.js'%}"></script>
<script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input, {
    // allowDropdown: false,
    // autoHideDialCode: false,
    // autoPlaceholder: "off",
    // dropdownContainer: document.body,
    // excludeCountries: ["us"],
    // formatOnDisplay: false,
    // geoIpLookup: function(callback) {
    //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
    //     var countryCode = (resp && resp.country) ? resp.country : "";
    //     callback(countryCode);
    //   });
    // },
    // hiddenInput: "full_number",
    // initialCountry: "auto",
    // localizedCountries: { 'de': 'Deutschland' },
    // nationalMode: false,
    // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    // placeholderNumberType: "MOBILE",
    // preferredCountries: ['cn', 'jp'],
    // separateDialCode: true,
    utilsScript: "{% static '/js/utils.js'%}",
  });
</script>
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class=" text-success" href="">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Accounts</li>
    <li class="breadcrumb-item active" aria-current="page">{% block currentPage %}{% endblock %}</li>
  </ol>
</nav>
<div class="container-fluid" style="margin-top: 20px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="support-menu">
        <nav class="vertical">
          <ul>
            <li>
              <a href="">Karkhanay.pk</a>
              <div>
                <ul>
                  <li><a href="profile"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                  <li><a href="orders"><i class="fas fa-shopping-basket"></i> Orders</a></li>
                  <li><a href="downloads"><i class="far fa-file-archive"></i> Downloads</a></li>
                  <li><a href="addresses"><i class="fas fa-home"></i> Addresses</a></li>
                  <li><a href="account-details"><i class="far fa-user"></i> Account Details</a></li>
                  <li><a href="rma-requests"><i class="far fa-file-alt"></i> RMA Requests</a></li>
                  <li><a href="vendors_page"><i class="far fa-file-alt"></i>Vendors</a></li>
                  <li><a href="tickets"><i class="far fa-file-alt"></i> Seller Support Tickets</a></li>
                  <li><a href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-md-8">
      <form>
        <input id="phone" name="phone" type="tel">
        <button type="submit">Submit</button>
      </form>
    </div>





  </div>
</div>
{% endblock %}
