{% extends 'E_Commerce/HomePage.html' %}
{% block title%} 
Login/Registration
{% endblock %} 
{% block content %}

<style>
    .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image .td, th {
    vertical-align: middle;
  
}
</style>

<div class="container">
    <div class="row">
      <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Image</th>
                <th scope="col">Article Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">In Stock?</th>
              </tr>
            </thead>
            <tbody>
            {% for w in wishlist %}
              <tr>
                <th scope="row">1</th>
                <td class="w-25">
                    <img src="{{ w.product.featured_image.url }}" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>{{ w.product.name }}</td>
                <td>{{ w.product.short_description }}</td>
                <td>{{ w.product.price }}</td>
                  {% if w.product.stock_count > 0 %}
                <td>Yes</td>
                {% else %}
                      <td>No</td>
              {% endif %}
              </tr>
            {% endfor %}
   <!--           <tr>
                <th scope="row">2</th>
                <td class="w-25">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-5.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>Product 2</td>
                <td>Cristina</td>
                <td>1434</td>
                <td>No</td>
              </tr>-->
            </tbody>
          </table>   
      </div>
    </div>
  </div>

  {% endblock %}